.ads {
  .ad {
    background-image: url("../images/SVG/ads.svg");
    background: transparent linear-gradient(245deg, #004184 0%, #008d33 100%) 0%
      0% no-repeat padding-box;
    height: 300px;
    border-radius: 30px;
  }
}
